<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Food</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">


 <div class="container">

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">

                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://thumbs.dreamstime.com/z/healthy-food-table-cartoons-vector-illustration-graphic-design-healthy-food-cartoon-121622483.jpg">
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h1 class="h4 text-gray-900 mb-4">Add Food</h1>
                    </div>
                            <form action="#" th:action="@{/saveFood}" th:object="${food}" class="user"  method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="labels">Name</label>
                                        <input type="text" class="form-control form-control-user" id="exampleName"
                                            th:field="*{name}" placeholder="Name">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="labels">Grams</label>
                                        <input type="text" class="form-control form-control-user" id="exampleGrams"
                                               th:field="*{grams}" placeholder="Grams">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="labels">Calcium</label>
                                        <input type="text" class="form-control form-control-user" id="exampleCalcium"
                                               th:field="*{calcium}"placeholder="Calcium">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="labels">Magnesium</label>
                                        <input type="text" class="form-control form-control-user" id="exampleMagnesium"
                                               th:field="*{magnesium}"placeholder="Magnesium">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="labels">Phosphorus</label>
                                        <input type="text" class="form-control form-control-user" id="examplePhosphorus"
                                           th:field="*{phosphorus}"placeholder="Phosphorus">
                                    </div>

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="labels">Calories</label>
                                        <input type="text" class="form-control form-control-user" id="exampleCalories"
                                               th:field="*{calories}"placeholder="Calories">
                                    </div>
                                </div>

                        <div class="mt-5 text-center">
                            <button type="submit" class="btn btn-primary profile-button">Submit</button>
                        </div>
                    </form>
                    <form action="#" th:action="@{/foodtable}" th:object="${food}" class="user"  method="GET">
                        <div class="mt-5 text-center">
                            <button type="submit" class="btn btn-danger profile-button">Back To Table</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>