<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>

  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

  <div class="container">

    <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
        <div class="col-md-3 border-right">

          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" width="150px" src="https://thumbs.dreamstime.com/z/healthy-food-table-cartoons-vector-illustration-graphic-design-healthy-food-cartoon-121622483.jpg">
          </div>
        </div>
        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h1 class="h4 text-gray-900 mb-4">Update Food</h1>
            </div>
            <form action="#" th:action="@{/updateFood/{food_id} (food_id=${food_id})}" th:object="${food}" class="user"  method="POST">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label class="labels">Name</label>
                  <input type="text" class="form-control form-control-user" id="exampleName"
                         th:field="*{name}">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label class="labels">Grams</label>
                  <input type="text" class="form-control form-control-user" id="exampleGrams"
                         th:field="*{grams}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label class="labels">Calcium</label>
                  <input type="text" class="form-control form-control-user" id="exampleCalcium"
                         th:field="*{calcium}">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label class="labels">Magnesium</label>
                  <input type="text" class="form-control form-control-user" id="exampleMagnesium"
                         th:field="*{magnesium}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label class="labels">Phosphorus</label>
                  <input type="text" class="form-control form-control-user" id="examplePhosphorus"
                         th:field="*{phosphorus}">
                </div>
               <!-- <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="Iron"
                         th:field="*{iron}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleZinc"
                         th:field="*{zinc}">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleRetinol"
                         th:field="*{retinol}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleCarotene"
                         th:field="*{carotene}">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleThiamine"
                         th:field="*{thiamine}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleRiboflavin"
                         th:field="*{riboflavin}">
                </div>-->
                <!--<div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleVitamin B6"
                         th:field="*{vitaminB6}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleVitamin E"
                         th:field="*{vitaminE}">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleVitamin C"
                         th:field="*{vitaminC}">
                </div>-->

                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label class="labels">Calories</label>
                  <input type="text" class="form-control form-control-user" id="exampleCalories"
                         th:field="*{calories}">
                </div>
              </div>
               <!-- <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleTotal Fat"
                         th:field="*{totalFat}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleSaturate Fat"
                         th:field="*{saturateFat}">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleCholesterol"
                         th:field="*{cholesterol}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleTotal Carbs"
                         th:field="*{totalCarbs}">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleFiber"
                         th:field="*{fiber}">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleSugar"
                         th:field="*{sugar}">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleProtein"
                         th:field="*{protein}">
                </div>
              </div>-->

              <div class="mt-5 text-center">
                <button type="submit" class="btn btn-primary profile-button">Submit</button>
              </div>
            </form>
            <form action="#" th:action="@{/foodtable}" th:object="${food}" class="user"  method="GET">
              <div class="mt-5 text-center">
                <button type="submit" class="btn btn-danger profile-button">Back</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>

</body>
</html>