.btn.btn-outline-primary {
    font-size: 14px;
    padding: 9px 90px;
}
.img {
    margin-top:30px;
    margin-left: 10px;
    width:50px;
    height:50px;
}
.panel-container {
    display: flex;
    align-items: center;
}

.panel {
    display: none;
    background-color: #f0f0f0;
    padding-top: 10px;
    position: absolute;
    left: 40%;
}

#openButtonForBreakfast {
    margin-top:25px;
    width:500px;
    height:50px;
    position: absolute;
    left: 30%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

#openButtonForDessert {
    margin-top:25px;
    width:500px;
    height:50px;
    position: absolute;
    left: 30%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    display: inline-block;

}

#openButtonForLunch {
    margin-top:25px;
    width:500px;
    height:50px;
    position: absolute;
    left: 30%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    display: inline-block;

}

#openButtonForSnack {
    margin-top:25px;
    width:500px;
    height:50px;
    position: absolute;
    left: 30%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

#openButtonForDinner {
    margin-top:25px;
    width:500px;
    height:50px;
    position: absolute;
    left: 30%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}



