.btn.btn-outline-primary {
    font-size: 14px;
    padding: 9px 90px;
}
.img {
    margin-top:30px;
    width:50px;
    height: 45px;
}
.panel-container {
    display: flex;
    align-items: center;
}

.panel {
    display: none;
    background-color: #f0f0f0;
    padding-top: 10px;
    position: absolute;
    left: 45%;
    top: 25%;
}

#openButtonForBreakfast {
    margin-top:25px;
    width:370px;
    height: 45px;
    position: absolute;
    left: 17%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

#openButtonForDessert {
    margin-top:25px;
    width:375px;
    height: 45px;
    position: absolute;
    left: 17%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    display: inline-block;

}

#openButtonForLunch {
    margin-top:25px;
    width:375px;
    height: 45px;
    position: absolute;
    left: 17%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    display: inline-block;

}

#openButtonForSnack {
    margin-top:25px;
    width:375px;
    height: 45px;
    position: absolute;
    left: 17%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

#openButtonForDinner {
    margin-top:25px;
    width:375px;
    height: 45px;
    position: absolute;
    left: 17%;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}



