<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Add Customer Information</title>

  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">


</head>
<body class="bg-gradient-primary">


<div class="container">

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">
      <form th:action="@{{customer_id}/saveCustomer  (customer_id=${customerinfo.customer.customer_id})}" th:object="${customerinfo}" class="user"  method="GET"></form>
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" width="150px" th:if="${customer.gender == 'Male'}" src="https://cdn.pixabay.com/photo/2016/04/01/10/56/boy-1300112_960_720.png">
          <img class="rounded-circle mt-5" width="150px" th:if="${customer.gender == 'Something other'}" src="https://st2.depositphotos.com/2101611/9885/v/600/depositphotos_98850500-stock-illustration-man-silhouette-icon-with-question.jpg">
          <img class="rounded-circle mt-5" width="150px" th:if="${customer.gender == 'Female'}" src="https://cdn.pixabay.com/photo/2017/03/01/22/18/avatar-2109804_960_720.png">

          <a class="font-weight-bold" ></a>
          <span th:each="customer, iterate : ${customer}"></span>
          <span th:text="${customer.firstName + ' ' + customer.lastName}"></span></div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Measure</h4>
          </div>
          <form th:action="@{/{customer_id}/saveCustomerInfo (customer_id=${customerinfo.customer.customer_id})}" th:object="${customerinfo}" class="user"  method="POST">

            <div class="row mt-2">
              <div class="col-md-6">
                <label class="labels">Height</label>
                <input type="text" class="form-control form-control-user" id="exampleHeight"
                       th:field="*{height}" placeholder="Height">
                <!--<div class="alert alert-warning" th:if="${#customerinfo.hasErrors('height')}" th:errors="*{height}"></div>-->
              </div>
              <div class="col-md-6">
                <label class="labels">Water</label>
                <input type="text" class="form-control form-control-user" id="exampleAge"
                       th:field="*{water}" placeholder="Water">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label class="labels">Weight</label>
                <input type="text" class="form-control form-control-user" id="exampleWeight"
                       th:field="*{weight}" placeholder="Weight">
              </div>
              <div class="col-md-6">
                <label class="labels">Muscle Mass</label>
                <input type="text" class="form-control form-control-user" id="exampleMuscle Mass"
                       th:field="*{muscleMass}" placeholder="Muscle Mass">
              </div>

            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label class="labels">Body Fat Mass</label>
                <input type="text" class="form-control form-control-user" id="exampleBody Fat Mass"
                       th:field="*{bodyFatMass}" placeholder="Body Fat Mass">
              </div>
              <div class="col-md-6">
                <label class="labels">Fat</label>
                <input type="text" class="form-control form-control-user" id="exampleFat"
                       th:field="*{fat}" placeholder="Fat">
              </div>
            </div>
              <div class="mt-5 text-center">
                <button th:type="submit" class="btn btn-primary profile-button" type="button">Save Profile</button>
              </div>
          </form>
              <form th:action="@{/customertable}" th:object="${customerinfo}" class="user"  method="GET">
                <div class="mt-5 text-center">
                  <button th:type="submit" class="btn btn-danger profile-button" type="button">Back To Table</button>
                </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/demo/datatables-demo.js"></script>

</body>
</html>