<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<section id="container" class="">
 <!--   <section layout:fragment="content">

    </section>-->

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <!--<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add Customer!</h1>
                            </div>
                            <form action="#" th:action="@{//showTheCustomer/{customer_id}}" th:object="${customer}" class="user"  method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                               th:field="*{firstName}" placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                               th:field="*{lastName}" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                           th:field="*{email}" placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleCity"
                                               th:field="*{city}"placeholder="City">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleEmailAddress"
                                               th:field="*{address}"placeholder="Address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="examplePhone"
                                               th:field="*{phone}"placeholder="Phone Number">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="date" class="form-control form-control-user" id="exampleInputBirth"
                                               th:field="*{birthday}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="exampleGender"
                                               th:field="*{gender}">
                                    </div>
                                </div>
                                <!--
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="examplePhone"
                                               th:field="*{phoneNumber}"placeholder="Phone Number">
                                    </div>
                                </div>

                                    <div class="col-sm-3">
                                        <input type="text" class="form-control form-control-user" id="examplePostal"
                                               th:field="*{postalCode}"placeholder="Postal code">
                                    </div>
                                </div>

                                -->
                                <button type="submit" class="btn-primary btn-user btn-block">Submit</button>
                                <hr>
                            </form>
                            <form action="#" th:action="@{/customertable}" th:object="${customer}" class="user"  method="GET">
                                <button type="submit" class="btn-danger btn-user btn-block">Back</button>
                            </form>
                            <!--<form action="#" th:action="@{/setFoodToTheCustomer}" th:object="${customer}" class="user"  method="GET">
                                <button type="submit" class="btn-danger btn-user btn-block">Set</button>
                            </form>-->
                            <a th:href="@{/setFoodToTheCustomer/{id}(id=${customer.customer_id})}"
                               class="btn btn-info">Set</a>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
</section>
</body>

</html>