<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Add Food</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <style>
    .select2-container .select2-selection--multiple {
      min-width: 140px;
    }
    #mealOptionsTitle {
      position: relative;
      left: 70px;
    }
    select option:checked {
      background-color: blue;
      color: white;
    }
    #mealOptions {
      height: calc(1.5em * 5);
      position: relative;
      top: 90px;
      right: 60px;
      min-width: 120px;
    }
    #foodIdsTitle, #foodIds {
      left: 80px;
    }
    #inputFieldsContainer {
      position: relative;
      left: 170px;
      bottom: 48px;
    }
    .input-group {
      width: 150px; /* Adjust the width as needed */
    }
    .input-group label {
      font-size: 12px; /* Adjust the font size as needed */
    }
  </style>

  <script>
    var previousButtonsContainer = null;

    function toggleButtons(customerId) {
      var buttonsContainer = document.getElementById('buttons-' + customerId);

      if (previousButtonsContainer !== null && previousButtonsContainer !== buttonsContainer) {
        previousButtonsContainer.classList.add('hidden');
      }

      buttonsContainer.classList.toggle('hidden');
      previousButtonsContainer = buttonsContainer;
    }
  </script>

</head>

<body class="bg-gradient-primary">


<div class="container">

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">

        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" width="150px" src="https://thumbs.dreamstime.com/z/healthy-food-table-cartoons-vector-illustration-graphic-design-healthy-food-cartoon-121622483.jpg">
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="h4 text-gray-900 mb-4">Add Food</h1>
          </div>
          <form action="#" th:action="@{/{customer_id}/saveMeal/foodIds (customer_id=${meal.customer.customer_id})}" th:object="${meal}" class="user" method="POST">
            <div class="container">
              <div class="row">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <h4><b>Day</b></h4>
                    <br>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck1" value="Monday" th:field="*{dayOfWeek}" />
                      <label class="form-check-label">Monday</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck2" value="Tuesday" th:field="*{dayOfWeek}" />
                      <label class="form-check-label">Tuesday</label>
                    </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck3" value="Wednesday" th:field="*{dayOfWeek}">
                  <label class="form-check-label">Wednesday</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck4" value="Thursday" th:field="*{dayOfWeek}">
                  <label class="form-check-label">Thursday</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck5" value="Friday" th:field="*{dayOfWeek}">
                  <label class="form-check-label">Friday</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck6" value="Saturday" th:field="*{dayOfWeek}">
                  <label class="form-check-label">Saturday</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck7" value="Sunday" th:field="*{dayOfWeek}">
                  <label class="form-check-label">Sunday</label>
                </div>
              </div>
            </fieldset>

                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 d-flex justify-content-end">
                      <div>
                        <label id="foodIdsBreakfast" for="foodIdsForBreakfast" class="food-options-label">Breakfast Options:</label><br>
                        <select id="foodIdsForBreakfast" name="foodIds" multiple class="form-select form-select-lg mb-3">
                          <option th:each="food : ${foods}" th:value="${food.food_id}" th:text="${food.name}"></option>
                        </select>

                        <div id="inputFieldsContainerBreakfast" class="mt-2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 d-flex justify-content-end">

                      <div>
                        <label id="foodIdsDesert" for="foodIdsForDesert" class="food-options-label">Desert Options:</label><br>
                        <select id="foodIdsForDesert" name="foodIds" multiple class="form-select form-select-lg mb-3">
                          <option th:each="food : ${foods}" th:value="${food.food_id}" th:text="${food.name}"></option>
                        </select>

                        <div id="inputFieldsContainerDesert" class="mt-2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 d-flex justify-content-end">

                      <div>
                        <label id="foodIdsLunch" for="foodIdsForLunch" class="food-options-label">Lunch Options:</label><br>
                        <select id="foodIdsForLunch" name="foodIds" multiple class="form-select form-select-lg mb-3">
                          <option th:each="food : ${foods}" th:value="${food.food_id}" th:text="${food.name}"></option>
                        </select>

                        <div id="inputFieldsContainerLunch" class="mt-2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 d-flex justify-content-end">

                      <div>
                        <label id="foodIdsSnack" for="foodIdsForSnack" class="food-options-label">Snack Options:</label><br>
                        <select id="foodIdsForSnack" name="foodIds" multiple class="form-select form-select-lg mb-3">
                          <option th:each="food : ${foods}" th:value="${food.food_id}" th:text="${food.name}"></option>
                        </select>

                        <div id="inputFieldsContainerSnack" class="mt-2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 d-flex justify-content-end">

                      <div>
                        <label id="foodIdsDinner" for="foodIdsForDinner" class="food-options-label">Dinner Options:</label><br>
                        <select id="foodIdsForDinner" name="foodIds" multiple class="form-select form-select-lg mb-3">
                          <option th:each="food : ${foods}" th:value="${food.food_id}" th:text="${food.name}"></option>
                        </select>

                        <div id="inputFieldsContainerDinner" class="mt-2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <input type="hidden" id="mealName" name="mealName" th:value="${meal.mealName}">

                <input type="hidden" id="breakfast" name="breakfast" th:attr="value=*{breakfast}">
                <input type="hidden" id="desert" name="desert" th:attr="value=*{desert}">
                <input type="hidden" id="lunch" name="lunch" th:attr="value=*{lunch}">
                <input type="hidden" id="snack" name="snack" th:attr="value=*{snack}">
                <input type="hidden" id="dinner" name="dinner" th:attr="value=*{dinner}">


              <a th:href="@{/{customer_id}/saveMeal/foodIds (customer_id=${meal.customer.customer_id})}" th:object="${meal}" class="btn btn-primary profile-button"
                 data-toggle="modal" th:data-target="'#saveCustomerModal-' + ${customer.customer_id}">Save</a>

              <div th:id="'saveCustomerModal-' + ${customer.customer_id}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="'saveCustomerModalLabel-' + ${customer.customer_id}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" th:id="'saveCustomerModalLabel-' + ${customer.customer_id}">Save Program Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <<div class="modal-body">
                    <p>Choose days for the customer: <b><span th:text="${customer.firstName + ' ' + customer.lastName}"/></b></p>
                    <label for="dateFrom">Date From:</label>
                    <input type="date" id="dateFrom" name="dateFrom" class="form-control" th:value="${#dates.format(meal.dateFrom, 'yyyy-MM-dd')}">
                    <label for="dateTo">Date To:</label>
                    <input type="date" id="dateTo" name="dateTo" class="form-control" th:value="${#dates.format(meal.dateTo, 'yyyy-MM-dd')}">
                      </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Continue</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </form>

          <form action="#" th:action="@{/{customer_id}/mealtable  (customer_id=${meal.customer.customer_id})}" th:object="${meal}" class="user"  method="GET">
            <div class="mt-5 text-center">
              <button type="submit" class="btn btn-danger profile-button">Back To Table</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    // Initialize Select2 for the food options select dropdowns
    $('#foodIdsForBreakfast, #foodIdsForDesert, #foodIdsForLunch, #foodIdsForSnack, #foodIdsForDinner').select2({
      placeholder: 'Select Food options',
      dropdownParent: $('#foodIdsForBreakfast').parent()
    });

    // Function to handle the change event of the food options select dropdown for Breakfast
    $('#foodIdsForBreakfast').on('change', function() {
      handleFoodOptionsChange('Breakfast');
    });

    // Function to handle the change event of the food options select dropdown for Desert
    $('#foodIdsForDesert').on('change', function() {
      handleFoodOptionsChange('Desert');
    });

    // Function to handle the change event of the food options select dropdown for Lunch
    $('#foodIdsForLunch').on('change', function() {
      handleFoodOptionsChange('Lunch');
    });

    // Function to handle the change event of the food options select dropdown for Snack
    $('#foodIdsForSnack').on('change', function() {
      handleFoodOptionsChange('Snack');
    });

    // Function to handle the change event of the food options select dropdown for Dinner
    $('#foodIdsForDinner').on('change', function() {
      handleFoodOptionsChange('Dinner');
    });

    // Function to handle the change event of the food options select dropdown for a specific meal type
    function handleFoodOptionsChange(mealType) {
      var selectedMeals = $('#foodIdsFor' + mealType).find(':selected').map(function () {
        return $(this).text(); // Get the text (food.name) of the selected options
      }).get();

      // Set the mealName hidden input field with the selected meal type (e.g., Breakfast, Desert, Lunch, Snack, or Dinner)
      $('#mealName').val(mealType);

      // Set the respective hidden input field with the selected food options for the meal type
      $('#' + mealType.toLowerCase()).val(selectedMeals.join(', '));

      // Update the input fields for the selected meal type
      updateInputFields(mealType, selectedMeals);
    }

    // Function to update the input fields for each selected meal type
    function updateInputFields(mealType, selectedMeals) {
      var inputFieldsContainerId = '#inputFieldsContainer' + mealType;

      // Clear previous input fields
      $(inputFieldsContainerId).empty();

      // Add input fields for each selected meal type
      selectedMeals.forEach(function (meal) {
        var inputField = '<div class="input-group mb-2 input-group">' +
                '<label class="input-group-text" for="' + meal.toLowerCase() + '">' + meal + ':</label>' +
                '<input type="text" class="form-control" id="' + meal.toLowerCase() + '" name="' + meal.toLowerCase() + '" placeholder="' + meal + ' grams">' +
                '</div>';
        $(inputFieldsContainerId).append(inputField);
      });
    }

    // Fetch the selected breakfast meal options and set them as the initial input fields
    var selectedBreakfastMeals = $('#foodIdsForBreakfast').find(':selected').map(function () {
      return $(this).text(); // Get the text (food.name) of the selected options
    }).get();

    // Set the initial input fields for breakfast
    updateInputFields('Breakfast', selectedBreakfastMeals);
  });
</script>
</body>
</html>
