<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Add Food</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <style>
    .select2-container .select2-selection--multiple {
      min-width: 400px; /* Increase the height as desired */
    }
  </style>

</head>

<body class="bg-gradient-primary">


<div class="container">

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">

        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" width="150px" src="https://thumbs.dreamstime.com/z/healthy-food-table-cartoons-vector-illustration-graphic-design-healthy-food-cartoon-121622483.jpg">
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="h4 text-gray-900 mb-4">Add Food</h1>
          </div>
          <form action="#" th:action="@{/{customer_id}/saveMeal/foodIds (customer_id=${meal.customer.customer_id})}" th:object="${meal}" class="user" method="POST">

            <h4><b>Day of Week</b></h4>
            <fieldset class="row mb-3">
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" name="gridCheck1" id="gridCheck1" type="checkbox" value="Monday" th:field="*{dayOfWeek}">
                  <label class="form-check-label" for="gridCheck1">
                    Monday
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="gridCheck2" id="gridCheck2" type="checkbox" value="Tuesday" th:field="*{dayOfWeek}">
                  <label class="form-check-label" for="gridCheck2">
                    Tuesday
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="gridCheck3" id="gridCheck3" type="checkbox" value="Wednesday" th:field="*{dayOfWeek}">
                  <label class="form-check-label" for="gridCheck3">
                    Wednesday
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="gridCheck4" id="gridCheck4" type="checkbox" value="Thursday" th:field="*{dayOfWeek}">
                  <label class="form-check-label" for="gridCheck4">
                    Thursday
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="gridCheck5" id="gridCheck5" type="checkbox" value="Friday" th:field="*{dayOfWeek}">
                  <label class="form-check-label" for="gridCheck5">
                    Friday
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="gridCheck6" id="gridCheck6" type="checkbox" value="Saturday" th:field="*{dayOfWeek}">
                  <label class="form-check-label" for="gridCheck6">
                    Saturday
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="gridCheck7" id="gridCheck7" type="checkbox" value="Sunday" th:field="*{dayOfWeek}">
                  <label class="form-check-label" for="gridCheck7">
                    Sunday
                  </label>
                </div>
              </div>
            </fieldset>
            //
            <input class="form-check-input" name="mealName" id="mealName" type="text" value="mealName" th:field="*{mealName}"><br><br>
            <input class="form-check-input" name="breakfast" id="breakfast" type="text" value="breakfast" th:field="*{breakfast}" placeholder="breakfast"><br><br>
            <input class="form-check-input" name="breakfast" id="desert" type="text" value="desert" th:field="*{desert}" placeholder="desert"><br><br>
            <input class="form-check-input" name="breakfast" id="lunch" type="text" value="lunch" th:field="*{lunch}" placeholder="lunch"><br><br>
            <input class="form-check-input" name="breakfast" id="snack" type="text" value="snack" th:field="*{snack}" placeholder="snack"><br><br>
            <input class="form-check-input" name="breakfast" id="dinner" type="text" value="dinner" th:field="*{dinner}" placeholder="dinner"><br><br>
            //
            <label for="foodIdsForBreakFast">Breakfast Options:</label><br>
            <select id="foodIdsForBreakFast" name="foodIdsForBreakFast" multiple>
              <option th:each="food : ${foods}" th:value="${food.food_id}" th:text="${food.name}  + '->' + ' Grams:' + ${food.grams} + ' Calories' + ${food.calories}"></option>
            </select>
            <br>
            <label for="foodIdsForDesert">Desert Options:</label><br>
            <select id="foodIdsForDesert" name="foodIdsForDesert" multiple>
              <option th:each="food : ${foods}" th:value="${food.food_id}" th:text="${food.name}  + '->' + ' Grams:' + ${food.grams} + ' Calories' + ${food.calories}"></option>
            </select>
            <br>
            <label for="foodIdsForLunch">Launch Options:</label><br>
            <select id="foodIdsForLunch" name="foodIdsForLunch" multiple>
              <option th:each="food : ${foods}" th:value="${food.food_id}" th:text="${food.name}  + '->' + ' Grams:' + ${food.grams} + ' Calories' + ${food.calories}"></option>
            </select>
            <br>
            <label for="foodIdsForSnack">Snack Options:</label><br>
            <select id="foodIdsForSnack" name="foodIdsFoSnack" multiple>
              <option th:each="food : ${foods}" th:value="${food.food_id}" th:text="${food.name}  + '->' + ' Grams:' + ${food.grams} + ' Calories' + ${food.calories}"></option>
            </select>
            <br>
            <label for="foodIdsForDinner">Dinner Options:</label><br>
            <select id="foodIdsForDinner" name="foodIdsForDinner" multiple>
              <option th:each="food : ${foods}" th:value="${food.food_id}" th:text="${food.name}  + '->' + ' Grams:' + ${food.grams} + ' Calories' + ${food.calories}"></option>
            </select>
          <div class="mt-5 text-center">
            <button type="submit" class="btn btn-primary profile-button">Submit</button>
          </div>
        </form>
          <form action="#" th:action="@{/mealtable}" th:object="${meal}" class="user"  method="GET">
            <div class="mt-5 text-center">
              <button type="submit" class="btn btn-danger profile-button">Back To Table</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('#foodIdsForBreakFast').select2({
      placeholder: 'Select Breakfast options', // Add a placeholder text
      dropdownParent: $('#foodIdsForBreakFast').parent() // Position the dropdown relative to the parent element
    });
  });
  $(document).ready(function() {
    $('#foodIdsForDesert').select2({
      placeholder: 'Select Breakfast options', // Add a placeholder text
      dropdownParent: $('#foodIdsForDesert').parent() // Position the dropdown relative to the parent element
    });
  });
  $(document).ready(function() {
    $('#foodIdsForLunch').select2({
      placeholder: 'Select Launch options', // Add a placeholder text
      dropdownParent: $('#foodIdsForLunch').parent() // Position the dropdown relative to the parent element
    });
  });
  $(document).ready(function() {
    $('#foodIdsForSnack').select2({
      placeholder: 'Select Breakfast options', // Add a placeholder text
      dropdownParent: $('#foodIdsForSnack').parent() // Position the dropdown relative to the parent element
    });
  });
  $(document).ready(function() {
    $('#foodIdsForDinner').select2({
      placeholder: 'Select Launch options', // Add a placeholder text
      dropdownParent: $('#foodIdsForDinner').parent() // Position the dropdown relative to the parent element
    });
  });
</script>
</body>

</html>